/*  Genaral */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins";
}

html {
    /* note to self this just makes the scroling for a link in your project more smooth */
    scroll-behavior: smooth ; 
}

p {
    color: rgb(85, 85, 85);
}

/* Transition */

a, .btn {
    transition: all 300ms ease;
}

/* Desktop Nav */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around; /* flexbox's where to place spaces for all content */
    align-items: center;
    height: 17vh;
}